
@{ ViewBag.Title = "Administracion";
    if (ViewBag.displayRole == 0)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else if (ViewBag.displayRole == 1)
    {
        Layout = "~/Views/Shared/_LayoutManager.cshtml";
    }
    else if (ViewBag.displayRole == 2)
    {
        Layout = "~/Views/Shared/_LayoutVisit.cshtml";
    }

    }



<div class="row-cols-1">
    <div class="col-md-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-10">
                        <div class="text-md-center font-weight-bold text-primary text-uppercase mb-1">SISTEMA DE GESTION DE HORARIO EN CARRERAS DE ING.SISTEMAS & ING.TELEMATICA</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-chalkboard-teacher fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" row py-5">
    <div class="col-md-6">
        <div class="card border-left-primary shadow h-100 ">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-10">
                        <div class="text-md-center font-weight-bold text-primary text-uppercase mb-1">
                            Profesores registrados : @ViewBag.profesores
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-friends fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card border-left-primary shadow h-100 ">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-10">
                        <div class="text-md-center font-weight-bold text-primary text-uppercase mb-1">
                            Aulas registradas:@ViewBag.aulas
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-chalkboard fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






