@{
    ViewBag.Title = "Index";

    if (ViewBag.displayMenu == "Admin")
    {



        { Response.Redirect("~/User/Admin", false); }


    }
    else if (ViewBag.displayMenu == "Manager")
    {

        { Response.Redirect("~/User/Manager", false); }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
        
    }

}


<h2>Welcome usuario <strong>@ViewBag.Name</strong> Este modulo sera implemetado pronto</h2>


