@model SistemaWeb.Contexto.tipoaula

@{
    ViewBag.Title = "Details";
}

<div>
    
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_tipo)
        </dd>

    </dl>
</div>

