@model Microsoft.AspNet.Identity.EntityFramework.IdentityUser

@{ 
    ViewBag.Title = "Usuario";

    Layout = null; 
}

<div class="form-group">

    <div class="alert alert-info">
        Correo del Usuario: @Model.Email        <br />
        Nombre del Usuario: @Model.UserName

    </div>
   
</div>

