@model SistemaWeb.Contexto.dpto

@{
    ViewBag.Title = "Delete";
}

<h3>Esta seguro que quiere eliminar este registro?</h3>
<div>
    <dl class="dl-horizontal">
        <h4>Departamento</h4>
      
        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-success" /> |
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
}
