@{

  

    ViewBag.Title = "Respaldo";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Restaurar</title>
</head>

    <center>
    <h1>Restaurar </h1> 
    </center>

<body>

    <form method="post" enctype="multipart/form-data">

        <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>

        @if (ViewBag.Message != null)
        {
            <script type="text/javascript">
            $(function () {
              alert("@ViewBag.Message")
            });
            </script>
        }
        <div>
            <input name="file" type="file" required />


            <input type="submit" value="Restaurar" />

        </div>


    </form>

    </body>

</html>
