
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <li class="nav-item  dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 ">@User.Identity.GetUserName()</span>
                <span style=" color:black">
                    <i class="fas fa-user-circle fa-2x  "></i>
                </span>

            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item">
                    <i class="fas  fa-user  fa-fw mr-2 text-gray-400"></i>
                    Perfil
                </a>
                <a href="@Url.Action("Index", "Manage")" class="dropdown-item">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    configuración
                </a>


                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Cerrar sesión
                </a>
            </div>
        </li>

    }
}
else
{
    @Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "ml-2" })
}




<!--Modal: modalConfirmLogout-->
<div class="modal fade " id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm modal-notify modal-dialog-centered " role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header bg-danger d-flex justify-content-center">
                <p class="heading bg-danger text-white">Listo para Cerrar sesión?</p>
            </div>

            <!--Body-->
            <div class="modal-body  ">
                <i class="fas fa-times fa-4x animated rotateIn" style="font-size: 48px; color: red;"></i>
                

            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
                <a class="btn  btn-outline-danger" href="javascript:document.getElementById('logoutForm').submit()">Si </a>
                <a href="" class="btn btn-danger waves-effect" data-dismiss="modal">No</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: modalConfirmLogout-->
