<!-- Navigation-->

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top ">
    <div class="container">
        <span class="navbar-brand js-scroll-trigger d-none d-sm-inline">
            <img src="~/Content/admin/img/UNANLEON_cienciatecnologia.png" height="60" width="60" />
        </span>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0"></ul>
        </div>
    </div>

</nav>

