


@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <div class="text-center d-none d-md-inline">
            <button id="sidebarToggle" class="border-0 bg-transparent btn btn-link">
                <i class="fa fa-bars fa-2x " style="color:royalblue" ></i>
            </button>
        </div>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block">

            </div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                @Html.Partial("_LoginParcial")

            </li>

        </ul>

    </nav>
}